<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happycoding.music.mapper.SongMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.happycoding.music.entity.Song">
        <id column="id" property="id" />
        <result column="song_id" property="songId" />
        <result column="name" property="name" />
        <result column="pic_url" property="picUrl" />
        <result column="duration" property="duration" />
        <result column="url" property="url" />
        <result column="br" property="br" />
        <result column="lyric" property="lyric" />
        <result column="platform" property="platform" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, song_id, name, pic_url, duration, url, br, lyric, platform
    </sql>

    <select id="queryRelativeSong" resultType="com.happycoding.music.dto.SongInfoDto">
        select * from song where id in (select dest_id from song_relative where source_id = #{dto.id})
    </select>

</mapper>
