@font-face {
  font-family: "iconfont"; /* Project id 2568364 */
  src: url('//at.alicdn.com/t/font_2568364_toi6yvistub.woff2?t=1622439168253') format('woff2'),
       url('//at.alicdn.com/t/font_2568364_toi6yvistub.woff?t=1622439168253') format('woff'),
       url('//at.alicdn.com/t/font_2568364_toi6yvistub.ttf?t=1622439168253') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playall:before {
  content: "\e703";
}

.icon-song-loop:before {
  content: "\e700";
}

.icon-random-loop:before {
  content: "\e701";
}

.icon-list-loop:before {
  content: "\e702";
}

