@font-face {
  font-family: "iconfont"; /* Project id 2568364 */
  src: url('//at.alicdn.com/t/font_2568364_mizuejt5xa.woff2?t=1623813791494') format('woff2'),
       url('//at.alicdn.com/t/font_2568364_mizuejt5xa.woff?t=1623813791494') format('woff'),
       url('//at.alicdn.com/t/font_2568364_mizuejt5xa.ttf?t=1623813791494') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e720";
}

.icon-shoucang:before {
  content: "\e730";
}

.icon-xiayishoubofang:before {
  content: "\e740";
}

.icon-list-add:before {
  content: "\e750";
}

.icon-add:before {
  content: "\e710";
}

.icon-right-arrow:before {
  content: "\e704";
}

.icon-head-play:before {
  content: "\e705";
}

.icon-random-loop:before {
  content: "\e701";
}

.icon-playall:before {
  content: "\e703";
}

.icon-song-loop:before {
  content: "\e700";
}

.icon-list-loop:before {
  content: "\e702";
}